$preview-draft-background-size: 100%;
$preview-draft-background-size-desktop: 60%;

$preview-draft-question-background-size: 50%;
$preview-draft-question-background-size-desktop: 30%;

$prevew-live-background-size: 100%;
$prevew-live-background-size-desktop: 70%;

$preview-live-question-background-size: 60%;
$preview-live-question-background-size-desktop: 40%;

.main--preview-draft {
  background-image: url("@images/draft-watermark.png");
  background-size: $preview-draft-background-size;
  background-repeat: repeat-y;
  background-position: 50% 0;

  @include govuk-media-query(desktop) {
    background-size: $preview-draft-background-size-desktop;
  }

  &.main--question {
    background-repeat: repeat;
    background-size: $preview-draft-question-background-size;

    @include govuk-media-query(desktop) {
      background-size: $preview-draft-question-background-size-desktop;
    }
  }
}

.main--preview-live {
  background-image: url("@images/preview-watermark.png");
  background-size: $prevew-live-background-size;
  background-repeat: repeat-y;
  background-position: 50% 0;

  @include govuk-media-query(desktop) {
    background-size: $prevew-live-background-size-desktop;
  }

  &.main--question {
    background-repeat: repeat;
    background-size: $preview-live-question-background-size;

    @include govuk-media-query(desktop) {
      background-size: $preview-live-question-background-size-desktop;
    }
  }
}
