$govuk-assets-path: "@govuk/assets/";
$govuk-global-styles: true;
$govuk-new-typography-scale: true;

@import "pkg:govuk-frontend";
@import "pkg:dfe-autocomplete";
@import "../../components/form_header_component/";
@import "../../components/question/file_review_component/";
@import "../styles/app-panel";
