$govuk-images-path: "@govuk/assets/images/";
$govuk-fonts-path: "@govuk/assets/fonts/";
$govuk-new-link-styles: true;
$govuk-global-styles: true;

@import "govuk/all";

.main--preview-draft {
  background-image: url("@images/draft-watermark.png");
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: 190px;
}

.main--preview-live {
  background-image: url("@images/preview-watermark.png");
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: 190px;
}

.govuk-header--preview-draft .govuk-header__container {
  border-bottom-color: govuk-colour("purple");
}

.govuk-header--preview-live .govuk-header__container {
  border-bottom-color: govuk-colour("blue");
}
