<% set_page_title("#{@form.name}") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= @form.name %></h1>
    <p class="govuk-body"><%= t('form.no_pages') %>
  </div>
</div>
