.app-header--preview-draft .govuk-header__container {
  border-bottom-color: govuk-colour("purple");
}

.app-header--preview-live .govuk-header__container {
  border-bottom-color: govuk-colour("blue");
}

.app-header .govuk-header__link--homepage {
  display: inline-flex;
  align-items: center;
  gap: .25em;
  flex-wrap: wrap;
}
