.app-header--preview-draft {
  border-bottom-color: govuk-colour("yellow");
}

.app-header--preview-archived {
  border-bottom-color: govuk-colour("orange");
}

.app-header--preview-live {
  border-bottom-color: govuk-colour("turquoise");
}

.app-header .govuk-header__link--homepage {
  display: inline-flex;
  align-items: center;
  gap: .25em;
  flex-wrap: wrap;
}
