forms_admin:
  # URL to form-admin
  base_url: http://localhost:3000

forms_api:
  # URL to form-api endpoints
  base_url: http://localhost:9292
  # Authentication key to authenticate forms-runner to forms-api
  auth_key: "123456"

# Settings for GOV.UK Notify api & email templates
govuk_notify:
  api_key: changeme
  form_submission_email_reply_to_id: fab9373b-fb7c-483f-ae25-5a9852bfcc04
  form_submission_email_template_id: 427eb8bc-ce0d-40a3-bf54-d76e8c3ec916

# Configuration for Sentry
# Sentry will only initialise if dsn is set to some other value
sentry:
  dsn:
  environment: local
