features:
  dummy: false

forms_admin:
  # URL to form-admin
  base_url: http://localhost:3000

forms_api:
  # Authentication key to authenticate forms-runner to forms-api
  auth_key: development_key
  # URL to form-api endpoints
  base_url: http://localhost:9292

# Settings for GOV.UK Notify api & email templates
govuk_notify:
  api_key: changeme
  form_submission_email_reply_to_id: fab9373b-fb7c-483f-ae25-5a9852bfcc04
  form_submission_email_template_id: 427eb8bc-ce0d-40a3-bf54-d76e8c3ec916
  form_filler_confirmation_email_template_id: 2d1f36dc-9799-43dd-8673-b631f9e0b4a5
  form_filler_confirmation_email_welsh_template_id: 4c5c75df-3a48-48ec-80d9-df9cabcdc9fc

# Configuration for Sentry
# Sentry will only initialise if dsn is set to some other value
sentry:
  dsn:
  environment: local
  filter_mask: "[Filtered (client-side)]"

submission_status_api:
  secret: changeme

aws:
  s3_submission_iam_role_arn: changeme
  file_upload_s3_bucket_name: changeme
  ses_submission_email_configuration_set_name: changeme

ses_submission_email:
  from_email_address: changeme
  reply_to_email_address: changeme

file_upload:
  poll_scan_status_wait_milliseconds: 500
  poll_scan_status_max_attempts: 20

retain_submissions_for_seconds: 604800 # 7 days

maintenance_mode:
  # When set to true, All pages will render 'Maintenance mode' message
  enabled: false
  # List of IP addresses which will bypass the maintenance mode message as a comma seperated string, optionally using CIDR notation eq. "127.0.0.1, 192.192.192.192/32, 0.0.0.0/24"
  bypass_ips:

forms_env: local

# When set to true, any capybara tests will run chrome normally rather than in headless mode.
show_browser_during_tests: false

# When set to true, the CloudWatch service will attempt to send data to CloudWatch
cloudwatch_metrics_enabled: false

analytics_enabled: false
