<% set_page_title(form_title(form_name:, page_name: t("form.archived.title"), mode: @mode)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%=t("form.archived.heading")%></h1>

    <p>
      <%=t("form.archived.service_unavailable", form_name:)%>
    </p>
  </div>
</div>
