<% set_page_title(t("errors.goto_page_routing_error.title")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('errors.goto_page_routing_error.title') %></h1>
    <%= t("errors.goto_page_routing_error.#{error_name}.body_html", link_url:, question_number:) %>
  </div>
</div>
