<% set_page_title(form_title(form_name: @current_context.form.name, page_name: t('errors.incomplete_submission.title'), mode: @mode)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('errors.incomplete_submission.title') %></h1>
    <%= t("errors.incomplete_submission.body_html", link_url: form_page_path(current_form.id, current_form.form_slug, current_context.next_page_slug)) %>
  </div>
</div>
