<% set_page_title(t("errors.maintenance.title"), t("gov_uk_forms")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('errors.maintenance.title') %></h1>
    <%= t('errors.maintenance.body_html') %>
  </div>
</div>
