<% set_page_title("Request a timeout") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Request a timeout</h1>

    <%= govuk_button_to "Timeout", error_timeout_path %>
  </div>
</div>
