<% set_page_title(t("errors.not_found.title"), t("gov_uk_forms")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('errors.not_found.title') %></h1>
    <%= simple_format(t('errors.not_found.body'), class: 'govuk-body') %>
  </div>
</div>
