<% set_page_title(t("errors.submission_error.title")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('errors.submission_error.title') %></h1>
    <%= simple_format(t('errors.submission_error.body'), class: 'govuk-body') %>
  </div>
</div>
