$govuk-images-path: "./images/";
$govuk-fonts-path: "./fonts/";
$govuk-new-link-styles: true;
$govuk-global-styles: true;

@import "govuk/all";

.main--draft {
  background-image: url("draft-watermark.png");
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-size: contain;
}
