<div data-module="app-cookies-page">
  <div
        class="govuk-notification-banner govuk-notification-banner--success js-cookies-page-success"
        role="alert"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner"
        hidden=""
      >
    <div class="govuk-notification-banner__header">
      <h2
          class="govuk-notification-banner__title"
          id="govuk-notification-banner-title"
        >
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        You’ve set your cookie preferences.
      </p>
    </div>
  </div>

  <%= content %>

  <% if Settings.analytics_enabled %>

    <h2 class="govuk-heading-l">Change your cookie settings</h2>

    <div class="js-cookies-page__no-js-message">
      <p class="govuk-body">We cannot change your cookie settings at the moment because JavaScript is not running in your browser. To fix this, try:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>turning on JavaScript in your browser settings</li>
        <li>reloading this page</li>
      </ul>
    </div>

    <form class="js-cookies-page-form" hidden="" >
      <div class="govuk-form-group">
        <fieldset
          class="govuk-fieldset js-cookies-page-form-fieldset"
          id="analytics"
        >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Do you want to accept analytics cookies?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-analytics" name="analytics" type="radio" value="yes" />
              <label
                class="govuk-label govuk-radios__label"
                for="radio-analytics"
                >
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-analytics-2" name="analytics" type="radio" value="no" />
              <label
                class="govuk-label govuk-radios__label"
                for="radio-analytics-2"
                >
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        class="govuk-button js-cookies-form-button"
        data-module="govuk-button"
      >
        Save cookie settings
      </button>

    </form>
  <% end %>
</div>
