name: Deploy to GOV.UK PaaS

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    env:
      FORMS_ADMIN_URL: https://forms-admin-dev.london.cloudapps.digital

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref_to_deploy }}

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@8a45918450651f5e4784b6031db26f4b9f76b251 # ruby 3.1.1
        with:
          bundler-cache: true

      - name: Precompile assets
        run: bundle exec rake assets:precompile

      - name: Install cloudfoundry
        shell: bash
        id: install-cf-cli
        run: |
          wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
          echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
          sudo apt-get update
          sudo apt-get install cf8-cli
      - name: Deploy to Gov.uk PaaS
        id: deploy-to-paas
        shell: bash
        run: |
          cf api ${{ secrets.CF_API }}
          cf auth "${{ secrets.CF_USER }}" "${{ secrets.CF_PASSWORD }}"
          cf target -o ${{ secrets.CF_ORGANISATION }} -s ${{ secrets.CF_SPACE }}
          cf push --strategy rolling \
            --var PAAS_ENVIRONMENT=dev \
            --var INSTANCES=2 \
            --var SETTINGS__SENTRY__DSN=${{ secrets.SENTRY_DSN }} \
            --var SETTINGS__SENTRY__ENVIRONMENT=dev \
            --var SETTINGS__FORMS_ADMIN__BASE_URL=${{ env.FORMS_ADMIN_URL }} \
            --var SETTINGS__FORMS_API__BASE_URL=${{ secrets.API_BASE }} \
            --var SETTINGS__FORMS_API__AUTH_KEY=${{ secrets.API_KEY }} \
            --var SETTINGS__GOVUK_NOTIFY__API_KEY=${{ secrets.NOTIFY_API_KEY }}
          
