name: "Lint Workflows"

on:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/*.yml'
      - '.github/workflows/*.yaml'
permissions:
  contents: read
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v5.0.0
      - name: Download actionlint
        id: get_actionlint
        run: |
          curl -L "https://github.com/rhysd/actionlint/releases/download/v1.7.7/actionlint_1.7.7_linux_amd64.tar.gz" | tar -xvz actionlint
          chmod +x actionlint
          sudo mv actionlint /usr/local/bin/actionlint
        shell: bash
      - name: Check workflow files
        run: actionlint -color
        shell: bash
