name: "Ruby on Rails CI"
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        ports:
          - "5432:5432"
    env:
      RAILS_ENV: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@d2b39ad0b52eca07d23f3aa14fdf2a3fcc1f411c # ruby 3.1.1
        with:
          bundler-cache: true
      - name: Install frontend dependencies
        run: npm ci
      - name: Run Frontend build
        run: bin/vite build
      # Add or replace test runners here
      - name: Run tests
        run: bin/rake

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@d2b39ad0b52eca07d23f3aa14fdf2a3fcc1f411c # ruby 3.1.1
        with:
          bundler-cache: true
      - name: Install frontend dependencies
        run: npm ci
      # Add or replace any other lints here
      - name: Security audit dependencies
        run: bundler exec bundle audit check
      - name: Security audit application code
        run: bundler exec brakeman -q -w2
      - name: Lint Ruby files
        run: bundler exec rubocop --parallel
      - name: Lint Javascript and Sass files
        run: npm run lint
